# Solution directories
/03-react-nextjs-workshop/app/day2/05-mini-project/solution/components
/03-react-nextjs-workshop/app/day2/05-mini-project/solution/contexts
/03-react-nextjs-workshop/app/day2/05-mini-project/solution/users